@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant:wght@700&display=swap');
body {
    font-size: 12pt;
    font-family: arial;
}

p {
    color: red;
}

h1 {
    font-family: 'Agbalumo';
    font-size: 36pt;
}
main, header, footer, nav ul {
    max-width: 40rem;
    margin: 0 auto 0 auto;
}
main {
    background-color: bisque;
    padding: 20px;
}

/* nav ul li {
    display: inline-block;
    background-color: grey;
    padding: 1em;
    margin: 1em;
} */

header {
    background-image: url("../img/polacks.jpg");
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 200px;
    opacity: 0.5;
}

header h1 {
    width: 40rem;
    margin: 0 auto;
    text-align: center;
}

ul {
    text-align: left;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 9.25em);
    gap: 1em;
    padding: 0;
}

nav li {
    display: block;
    background-color: grey;
    padding: 1em;
}

.Very-good {
    color: green;
}

.Master {
    color: green;
    font-weight: bold;
}

#Headline {
    margin: 0;
    padding: 0;
    height: 250px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#Headline h1 {
    position: absolute;
    text-align: center;
    justify-content: center;
    z-index: 1;
    padding:10px;
}

#Headline img{
    width: 100%;
    justify-content: center;
    opacity: 0.3;
}

#tabSec img{
    height: 100px;
}
#tabSec {
    
    border: 2px dashed red;
}

#tabSec div {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 200px;
}

.Ingridients {
    font-weight: bold;
}


#contact {
    margin: 20px;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    border: 2px dashed white;
    padding: 20px;
}


form p {
    color: white;
    padding: 10px 20px;
    max-height: 100%
}

#submit button {
    background-color: black; 
    color: white;
    padding: 30px;
    cursor: pointer; 
}

#contact button:hover {
    background-color: #8e759f; 
}


#tabSec {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
}

